In [574]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [575]:
df = pd.read_csv('final.csv')
df

,Column1,Device_ID,Event_ID,Event_start_time,Name_of_cat,Weight_of_cat,Activity,Cat_In_Box,Synapse_Labeled,Event_Date,...,Calculated_Tare_Weight,Weight_With_Cat,Stepping_In_Time,Stepping_Out_Time,Sit_Time,Times_Stepped,First_Stepin_Time,First_Stepout_Time,Last_Stepin_Time,Last_Stepout_Time
0,0,VA00000000000017,RXZlbnRJbmZvcm1hdGlvbjo0OWQ4M2I3MS1kNDZmLTRiYj...,05-09-2020 05:56,Ryan,6589,urination,1,0,05-09-2020,...,8209.766169,14798.76617,0.100000,44.699942,44.599942,1,0.4,84.937078,0.4,84.937078
1,1,VA00000000000017,RXZlbnRJbmZvcm1hdGlvbjo0YmI3ZDc5YS0wNzMwLTQ0MT...,18-07-2020 09:41,Ryan,6935,urination,1,1,18-07-2020,...,6798.109453,13733.10945,0.725000,52.750000,52.025000,1,0.4,84.937078,0.4,84.937078
2,2,VA00000000000017,RXZlbnRJbmZvcm1hdGlvbjo0ZTBhMDVhOC0wZmI2LTQ2MG...,03-09-2020 10:43,Ryan,5139,urination,1,0,03-09-2020,...,8743.395000,13882.39500,1.674942,45.599933,43.924991,1,0.4,84.937078,0.4,84.937078
3,3,VA00000000000017,RXZlbnRJbmZvcm1hdGlvbjo1NGEwMTg2My01NDhjLTRhYT...,01-09-2020 07:02,Ryan,6983,non_elimination,1,0,01-09-2020,...,8791.100000,15774.10000,0.025000,11.849934,11.824934,1,0.4,84.937078,0.4,84.937078
4,4,VA00000000000017,RXZlbnRJbmZvcm1hdGlvbjo1YzQwMzE4MS1lNzhkLTQ3Nz...,08-08-2020 01:47,Ryan,7017,urination,1,1,08-08-2020,...,4762.402985,11779.40299,0.025000,50.325000,50.300000,1,0.4,84.937078,0.4,84.937078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13070,13070,VB00000000000192,RXZlbnRJbmZvcm1hdGlvbjplOTY1YzllOC01YWU1LTRmYj...,23-08-2021 20:36,Sparkler,4116,urination,1,0,24-08-2021,...,7031.631841,11147.63184,0.150000,48.608258,48.458258,1,0.4,84.937078,0.4,84.937078
13071,13071,VB00000000000192,RXZlbnRJbmZvcm1hdGlvbjpmNDMxM2YwNi1hNzk0LTQxMG...,26-04-2021 01:29,Sparkler,4604,non_elimination,1,0,26-04-2021,...,7752.402985,12356.40299,55.210079,71.608398,16.398319,1,0.4,84.937078,0.4,84.937078
13072,13072,VB00000000000192,RXZlbnRJbmZvcm1hdGlvbjpmYjQ3YzJkZi03ODY3LTQ3Zm...,26-04-2021 22:47,Sparkler,4416,urination,1,0,27-04-2021,...,7598.258706,12014.25871,0.025000,77.918402,77.893402,1,0.4,84.937078,0.4,84.937078
13073,13073,VB00000000000192,RXZlbnRJbmZvcm1hdGlvbjpmYTY2MzA0OC1kNjQ1LTQ5OD...,01-09-2021 20:15,Sparkler,4386,defecation,1,0,02-09-2021,...,6334.368159,10720.36816,0.025000,195.116902,195.091902,1,0.4,84.937078,0.4,84.937078
13074,13074,VB00000000000192,RXZlbnRJbmZvcm1hdGlvbjpmZTc0ZmZlNS1mZjdhLTRlYj...,03-10-2021 09:45,Sparkler,4510,urination,1,0,03-10-2021,...,8044.721393,12554.72139,0.400000,84.937078,84.537078,1,0.4,84.937078,0.4,84.937078

In [576]:
df = df[df['Activity'].notnull()].reset_index()
df['Elimination'] = df['Activity'].apply(lambda x: 0 if(x=='non_elimination') else 1)
df['Urination'] = df['Activity'].apply(lambda x: 1 if(x=='urination') else 0)
df

,index,Column1,Device_ID,Event_ID,Event_start_time,Name_of_cat,Weight_of_cat,Activity,Cat_In_Box,Synapse_Labeled,...,Stepping_In_Time,Stepping_Out_Time,Sit_Time,Times_Stepped,First_Stepin_Time,First_Stepout_Time,Last_Stepin_Time,Last_Stepout_Time,Elimination,Urination
0,0,0,VA00000000000017,RXZlbnRJbmZvcm1hdGlvbjo0OWQ4M2I3MS1kNDZmLTRiYj...,05-09-2020 05:56,Ryan,6589,urination,1,0,...,0.100000,44.699942,44.599942,1,0.4,84.937078,0.4,84.937078,1,1
1,1,1,VA00000000000017,RXZlbnRJbmZvcm1hdGlvbjo0YmI3ZDc5YS0wNzMwLTQ0MT...,18-07-2020 09:41,Ryan,6935,urination,1,1,...,0.725000,52.750000,52.025000,1,0.4,84.937078,0.4,84.937078,1,1
2,2,2,VA00000000000017,RXZlbnRJbmZvcm1hdGlvbjo0ZTBhMDVhOC0wZmI2LTQ2MG...,03-09-2020 10:43,Ryan,5139,urination,1,0,...,1.674942,45.599933,43.924991,1,0.4,84.937078,0.4,84.937078,1,1
3,3,3,VA00000000000017,RXZlbnRJbmZvcm1hdGlvbjo1NGEwMTg2My01NDhjLTRhYT...,01-09-2020 07:02,Ryan,6983,non_elimination,1,0,...,0.025000,11.849934,11.824934,1,0.4,84.937078,0.4,84.937078,0,0
4,4,4,VA00000000000017,RXZlbnRJbmZvcm1hdGlvbjo1YzQwMzE4MS1lNzhkLTQ3Nz...,08-08-2020 01:47,Ryan,7017,urination,1,1,...,0.025000,50.325000,50.300000,1,0.4,84.937078,0.4,84.937078,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13067,13070,13070,VB00000000000192,RXZlbnRJbmZvcm1hdGlvbjplOTY1YzllOC01YWU1LTRmYj...,23-08-2021 20:36,Sparkler,4116,urination,1,0,...,0.150000,48.608258,48.458258,1,0.4,84.937078,0.4,84.937078,1,1
13068,13071,13071,VB00000000000192,RXZlbnRJbmZvcm1hdGlvbjpmNDMxM2YwNi1hNzk0LTQxMG...,26-04-2021 01:29,Sparkler,4604,non_elimination,1,0,...,55.210079,71.608398,16.398319,1,0.4,84.937078,0.4,84.937078,0,0
13069,13072,13072,VB00000000000192,RXZlbnRJbmZvcm1hdGlvbjpmYjQ3YzJkZi03ODY3LTQ3Zm...,26-04-2021 22:47,Sparkler,4416,urination,1,0,...,0.025000,77.918402,77.893402,1,0.4,84.937078,0.4,84.937078,1,1
13070,13073,13073,VB00000000000192,RXZlbnRJbmZvcm1hdGlvbjpmYTY2MzA0OC1kNjQ1LTQ5OD...,01-09-2021 20:15,Sparkler,4386,defecation,1,0,...,0.025000,195.116902,195.091902,1,0.4,84.937078,0.4,84.937078,1,0
13071,13074,13074,VB00000000000192,RXZlbnRJbmZvcm1hdGlvbjpmZTc0ZmZlNS1mZjdhLTRlYj...,03-10-2021 09:45,Sparkler,4510,urination,1,0,...,0.400000,84.937078,84.537078,1,0.4,84.937078,0.4,84.937078,1,1

# First Model

In [577]:
#X1 = df[['Sit_Time']]
X1 = df[['Name_of_cat', 'Sit_Time']]
y1 = df['Elimination']

In [578]:
from sklearn.preprocessing import OneHotEncoder
from seaborn import load_dataset

ohe = OneHotEncoder()
transformed = ohe.fit_transform(df[['Name_of_cat']])

X1[ohe.categories_[0]] = transformed.toarray()
X1 = X1.drop(['Name_of_cat'], axis=1)

C:\Users\kaushik.agrawal\Anaconda3\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [579]:
from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2, random_state=10)

In [580]:
X1_train

,Sit_Time,Abby,Azure,Betty Lou,Bill,Boots,Bucks,Cartman,Corned Beef,Cracker Jack,...,Stymie,Tardis,Thor,Tiana,Vienna,Vinny,Violet,Westley,Zeb,NaN
5003,81.086906,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7484,63.624947,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1906,40.350001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8567,67.674931,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11633,67.353825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1344,79.575077,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12815,20.744694,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7293,42.123976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1289,3.624947,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [581]:
y1_train

5003     0
7484     1
1906     1
93       0
8567     1
        ..
11633    1
1344     1
12815    1
7293     1
1289     0
Name: Elimination, Length: 10457, dtype: int64

In [582]:
y1_train.value_counts()

1    7146
0    3311
Name: Elimination, dtype: int64

In [583]:
'''from sklearn.tree import DecisionTreeClassifier
clf1 = DecisionTreeClassifier(random_state=10)
clf1.fit(X1_train, y1_train)'''

'from sklearn.tree import DecisionTreeClassifier\nclf1 = DecisionTreeClassifier(random_state=10)\nclf1.fit(X1_train, y1_train)'

In [584]:
from sklearn.ensemble import RandomForestClassifier
clf1 = RandomForestClassifier(n_estimators = 5, random_state=10)
clf1.fit(X1_train, y1_train)

RandomForestClassifier(n_estimators=5, random_state=10)

In [585]:
test1_pred = clf1.predict(X1_test)
train1_pred = clf1.predict(X1_train)

In [586]:
from sklearn.metrics import classification_report

print(classification_report(y1_test, test1_pred))

              precision    recall  f1-score   support

           0       0.69      0.69      0.69       835
           1       0.85      0.85      0.85      1780

    accuracy                           0.80      2615
   macro avg       0.77      0.77      0.77      2615
weighted avg       0.80      0.80      0.80      2615

In [587]:
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(y1_test, test1_pred).ravel()
(tn, fp, fn, tp)

(577, 258, 261, 1519)

In [588]:
accuracy = (tn+tp)/(tn+fp+fn+tp)
accuracy

0.8015296367112811

In [589]:
# Display plots inline and change default figure size
import matplotlib
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (10.0, 8.0)
# Train the RandomForestClassifier
# Plot the decision boundary
plot_decision_boundary(lambda x: clf1.predict(X1_test))
plt.title("Random Forest")

TypeError: '(slice(None, None, None), 0)' is an invalid key

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y1_train, train1_pred))

In [ ]:
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(y1_train, train1_pred).ravel()
(tn, fp, fn, tp)

In [ ]:
accuracy = (tn+tp)/(tn+fp+fn+tp)
accuracy

# Second Model

In [ ]:
X_pred = clf1.predict(X1)

In [ ]:
df['Elimination_Pred'] = X_pred
df = df[df['Elimination_Pred']==1]

In [ ]:
X2 = df[['Name_of_cat', 'Sit_Time']]
y2 = df['Urination']

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from seaborn import load_dataset

ohe = OneHotEncoder()
transformed = ohe.fit_transform(df[['Name_of_cat']])

X2[ohe.categories_[0]] = transformed.toarray()
X2 = X2.drop(['Name_of_cat'], axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=20)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf2 = RandomForestClassifier(n_estimators = 5, random_state=20)
clf2.fit(X2_train, y2_train)

In [ ]:
test2_pred = clf2.predict(X2_test)
train2_pred = clf2.predict(X2_train)

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y2_test, test2_pred))

In [ ]:
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(y2_test, test2_pred).ravel()
(tn, fp, fn, tp)

In [ ]:
accuracy = (tn+tp)/(tn+fp+fn+tp)
accuracy

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y2_train, train2_pred))

In [ ]:
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(y2_train, train2_pred).ravel()
(tn, fp, fn, tp)

In [ ]:
accuracy = (tn+tp)/(tn+fp+fn+tp)
accuracy